body {
  background-color: grey;
}

h1 {
  font-size: 1.8em;
  margin: 10px;
}

h2 {
  font-size: 1.2em;
}

.App {
  background-color: #000;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace;
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
}

header button {
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  background: none;
  box-shadow: none;
  padding: 5px;
  height: 3em;
  margin: 7px 7px 0 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  color: #fff;
}

section {
  padding: 4em 2em;
  animation: green 3s ease-in-out infinite alternate;
  color: #81c784;
}

@keyframes green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #40bf45, 0 0 4px #40bf45, 0 0 5px #40bf45;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #52f058, 0 0 4px #52f058, 0 0 5px #52f058, 0 0 6px #52f058;
  }
}