body {
  background-color: #383838;
  overflow: hidden;
}

h1 {
  font-size: 1.8em;
  margin: 10px;
}

h2 {
  font-size: 1.2em;
}

.App {
  background-color: #000;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace;
  max-width: 600px;
  height: 90vh;
  overflow: hidden;
  border: 4px solid #fff;
  margin-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #383838;
  color: #fff;
}

header div {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

header div button {
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  background-color: #000;
  box-shadow: none;
  height: 36px;
  margin: 10px 7px 0 0;
  width: 180px;
  text-align: right;
  padding: 0;
  position: relative;
  box-shadow: #000 4px 4px;
}

header div button span {
  text-align: center;
  font-size: 0.8em;
  background-color: #fff;
  color: #000;
  padding: 10px 6px 2px 6px;
  height: 20px;
  width: 105px;
  margin: 0;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  transition: text-align 5s;
}

header div button:hover span {
  left: 0;
}

section {
  color: #81c784;
  position: relative;
  height: 100%;
  animation: greenText 3s ease-in-out infinite alternate;
}

section #messages, section #landing {
  overflow-y: scroll;
  max-height: 77vh;
  padding: 2em;
}

section form {
  text-align: center;
}

section form input, section form button {
  margin: 0;
  border: 1px solid #81c784;
  animation: green 3s ease-in-out infinite alternate;
}

section form input {
  background: #000;
  color: #81c784;
  font-size: 1em;
  font-weight: bold;
  width: 60%;
  padding: 8px;
}

section form input:focus {
  outline: none !important ;
  -moz-appearance:none;
}

section form button {
  width: 20%;
  padding: 9px 8px;
  font-weight: bold;
  margin-left: 20px;
  color: #000;
  cursor: pointer;
  background-color: #81c784;
}

@keyframes green {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #40bf45, 0 0 4px #40bf45, 0 0 5px #40bf45;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #40bf45, 0 0 8px #40bf45, 0 0 10px #40bf45;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #52f058, 0 0 4px #52f058, 0 0 5px #52f058, 0 0 6px #52f058;
    box-shadow: 0 0 4px #fff, 0 0 6px #52f058, 0 0 8px #52f058, 0 0 10px #52f058, 0 0 12px #52f058;
  }
}
@keyframes greenText {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #40bf45, 0 0 4px #40bf45, 0 0 5px #40bf45;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 3px #52f058, 0 0 4px #52f058, 0 0 5px #52f058, 0 0 6px #52f058;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 #52f058;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #52f058;
  border-radius: 20px;
  border: 3px solid #000;
}